/* -------  globala inställningar  -------*/
h1{
    margin: 0;
    padding: 20px;
}
html, body{
    height: 100%;
}

@media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }

    
    .globalnav {
        height: 55px;
        display: block;
        margin: 0;
    }

    .globalnav__list {
        flex-direction: column;
        width: 100%;
    }
    *{
        font-size: 25px;
    }
    .content{
        height: 100%;
    }
    .globalnav{
        height: 125px;
    }
}
body{
    margin: 0;
    padding: 0;
}

.startcontainer{
    background-color: #8797B2;

    width: 100%;
    /* height: 800px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "h h h h"
    "c c c c"
    "c c c c"
    "c c c c"
    "c c c c"
    "c c c c"
    "c c c c"
    "f f f f";
}
.lokalcontainer{
    background-color: #8797B2;
    margin: 0;
    
    /* height: 1300px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(12, 1fr); */
    grid-template-areas: 
    "h h h h"
    "n n n n"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "f f f f";
}
.lokalcontainer1bild{
    background-color: #8797B2;
    margin: 0;
   /*  height: 1100px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    "h h h h"
    "n n n n"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "k k k k"
    "f f f f"; */
}

/* -------  header  -------*/
.globalheader{
    color: #FAF3DD;
    background-color: #8797B2;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    
    height: 110px;
    grid-area: h;

}
/* -------  nav  -------*/
.globalnav{
    background-color: #002A32;
    color: white;

    grid-area: n;
    display: flex;
    font-size: 30px;
    justify-content: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.globalnav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    
    width: 800px;
}

.globalnav__listitem {
    display: flex;
    justify-content: center;

    flex: 1;

    border-right: 2px solid #485460;
}

.globalnav__link{
    color: white;
    background-color: #002A32;
    
    flex: 1; 
    text-decoration: none;
    text-align: center;
    padding: 0.25rem;
}

.globalnav__listitem:last-of-type {
    border-right: 0;
}




/* -------  content  -------*/
.content{
    grid-area: c;
    
    /* height: 100%; */
    background-color: #e8ccbf;
}
.galleri{
    width: 80%;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 50px;
}

.galleri img {
    display: inline-block;
    box-sizing: border-box;
    background-color: hsla(210, 56%, 36%, 0.45);
    border: 0.5px solid hsla(210, 56%, 36%, 0.45);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);  
    padding: 0.5rem;
    border-radius: 5%;

    width: 200px;
    height: auto;
    transition: 0.4s;
}

.galleri img:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: 0.4s;
}

.galleri a {
    text-decoration: none;
    font-size: 2.5rem;
    color: hsla(210, 56%, 36%, 0.45);
}

.globalcaption{
    text-align: center;
    font-size: bold;
    text-shadow: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.lokalcontent > img{
    
    width: 320px;
    
    border-radius: 5%;
    border: 10px solid hsla(210, 56%, 36%, 0.45);
    
    margin: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.lokalcontent{
    grid-area: k;
    background-color:#e8ccbf;
    
    /* overflow: scroll; */
    grid-gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "b"
    "t"
    "p"
    "u"
    ;
}
@media screen and (min-width: 600px) {
    .lokalcontent{
        /* overflow: scroll; */
        grid-gap: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "b t"
        "p t"
        "u ."
        ". ."
        ;
    }
}
@media screen and (min-width: 900px) {
    .lokalcontent{
    /* overflow: hidden; */
    /* height: 900px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "b t t p"
    "b t t p"
    "u t t p"
    "u t t p"
    ;
    }
    
    .lokalcontent > img{
        width: 400px;
    }
    .lokalcontent > div{
        width: 370px;
    }

    .lokalcontent1bild {
        overflow: hidden;

        background-color: #e8ccbf;
        display: grid;
        /*grid-gap: 250px;*/
        grid-template-columns: auto 1fr;
        /* grid-template-rows: repeat(5, 1fr); */
        grid-template-areas: 
        "b t"
        "b t"
        "b t"
        "b t"
        ;
    }
    .lokalcontent1bild > img{
        width: 700px;
    }   
    .lokalcontent1bild > .lokaltext{
        width: 900px;
        margin: 10px;
    } 
}

.bild1{
    grid-area: b;
}
.bild2{
grid-area: p;
}
.bild3{
    grid-area: u;
}
.lokaltext{
    grid-area: t;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;
    border: 10px solid hsla(210, 56%, 36%, 0.45);

    background-color: white;
    width: 300px;
}
.underrubriker{
    margin: 0;
}
.lokalcontent1bild{
    background-color: #e8ccbf;
} 
.lokalcontent1bild > img{
    height: auto;
    
    border-radius: 5%;
    border: 10px solid hsla(210, 56%, 36%, 0.45);
    
    margin: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 325px;
}

/* ------- footer  -------*/
.globalfooter{
    background-color: #002A32;
    color: antiquewhite;

    grid-area: f;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    font-size: 20px;
}